[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "calendR"]
	path = calendR
	url = https://github.com/cran/calendR
[submodule "DTDA.cif"]
	path = DTDA.cif
	url = https://github.com/sidoruvigo/dtda.cif
[submodule "DTDA.ni"]
	path = DTDA.ni
	url = https://github.com/sidoruvigo/dtda.ni
